
    nav {
      background-color: #1e71a2;
    }
    
    nav > h1 {
      color: #fff;
    }
    
    .list {
      width: 100%;
      margin: 0 !important;
      border-top: none !important; 
      border-bottom: none !important; 
    }
    
    .slogan {
      font-family:'Roboto';
      font-style: italic;
      text-align: center; 
      color: grey !important;
    }

    .quicklink {
      text-align: center;
      display: inline-table;
    }

    .quicklink img {
      width: 25%;
    }

    .nachricht {
    }

    .nachricht img {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      width: 80px;
      max-width: 25%;
    }

    .nachricht div {
      display: inline-block;
      max-width: 70%;
    }

    .altenachricht {
      font-family:'Roboto';
      position:fixed;
      bottom:0px;
    }
   